/*
 *
 * CSS com estilos genéricos para todos os temas
 *
 * @Autores
 *
 * - Victor Brosso Alvares
 * - Moisés de Aguiar Júnior
 * - Wellington Braga
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

body{
  font-family:"Fira Sans", Arial, Verdana !important;
  margin: 0;
  padding:0;
}
h3{
  font-family:"Fira Sans", Arial, Verdana !important;
}
.wrap{
  margin:0 auto;
  width:1100px;
}
header{
  background:#eeeeee;
  float:left;
  width:100%;
  margin:0;
}
#main{
  float:left;
  clear: both;
}
.acessibilidade{
  width:220px;
  float:right;
  height:40px;
  background: #fff;
}
.acessibilidade span{
  float:left;
  font-family: Arial;
  font-size: 11px;
  margin:12px 0 0 0;
}
.acessibilidade ul{
  float:right;
  margin:5px 0 0 0;
  padding: 0;
}
.acessibilidade ul li{
  list-style: none;
  float: left;
  width:20px;
  height:20px;
  margin: 3px 5px 0 5px;
  text-align: center;
}
.acessibilidade ul li a{
  float: left;
  width:20px;
  height:20px;
  color: #000;
  text-decoration: none;
  font-family:Arial;
  font-weight: bold;
  font-size:19px;
}
.acessibilidade ul li a.icoDiminuir{
  font-size:14px;
  margin:3px 0 0 0;
}
.acessibilidade ul li a.icoContraste{
  background:url(../img/icoContraste.png) no-repeat 0 3px;
}
#portal-header #logo h1 a{
  background:url(../img/logoNfe.png) no-repeat;
  float:left;
  width:99px;
  height:102px;
  margin:25px 0 0 0;
}
#portal-header .logo #portal-logo img, .searchSection{
  display:none;
}

#portal-header .divBusca{
  float:right;
  margin: 40px 200px 0 0;
}
#portal-header .logoFinancas a{
  background:url(../img/logoFinancas.png) no-repeat;
  float:right;
  width:163px;
  height:59px;
  float: right;
  margin:30px 0 0 0;
}
#portal-header .divSection{
  clear:both;
  float: right;
  width: 700px;
}

#portal-header ul.globalnav{
  float: right;
  margin: 8px 0 0 0;
  width: 399px;
}
#portal-header ul.globalnav li.cidadao{
  list-style: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fcc833;
  color: #002e55;
  display: inline;
  padding: 15px 25px 10px 25px;
  text-align: center;
  margin: 0 4px 0 0;
}
#portal-header ul.globalnav li.empresas{
  background: #ff921b;
  list-style: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #002e55;
  display: inline;
  padding: 15px 25px 10px 25px;
  text-align: center;
  margin: 0 4px 0 0;
}
#portal-header ul.globalnav li a{
  color:#002e55;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.85em;
}
#portal-header .btnReclamacoes{
  float: right;
  background:url(../img/icoReclamacoes.png) no-repeat #345877 8px 5px;
  padding:5px 10px 5px 30px;
  margin: 0 0 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#portal-header .menuResp{
  display: none;
}
#portal-searchbox .hiddenStructure{
  display:none;
}
#portal-searchbox .searchField{
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 265px;
  height: 32px;
  border:none;
  color:#545454;
  padding:0px 0 0 12px;
  margin: 0;
}
#portal-searchbox .searchButton{
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #345877;
  color: #fff;
  text-align: center;
  border:none;
  height: 32px;
  width: 75px;
  cursor: pointer;
}
nav.menu.cidadao{
  float:left;
  width: 100%;
  min-height: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc833+0,efb501+100 */
  background: #fcc833; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcc833 0%, #efb501 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcc833 0%,#efb501 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcc833 0%,#efb501 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc833', endColorstr='#efb501',GradientType=0 ); /* IE6-9 */
  position: relative;
  z-index: 2;
}
nav.menu.empresas{
  float:left;
  width: 100%;
  min-height: 40px;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc833+0,efb501+100 */
  background: #ef7d00; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff921b 0%, #ef7d00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff921b 0%,#ef7d00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff921b 0%,#ef7d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff921b', endColorstr='#ef7d00',GradientType=0 ); /* IE6-9 */
  display:none;
  position: relative;
  z-index: 2;
}
nav.menu.empresas ul li a{
  border-right: 1px solid #f89b34;
}
nav.menu.empresas ul li.submenu:hover{
  background: #fac575;
}
nav.menu.cidadao ul li.submenu:hover{
  background:#ffe698;
}
nav.menu.cidadao ul li.submenu ul.menuLista{
  background:#ffe698;
  position: absolute;
  bottom: -160px;
  float: left;
  z-index: 1;
  width: auto;
  display: none;
}
nav.menu.cidadao ul li.submenu ul.menuLista li:hover{
  background: #fcc833;
}
nav.menu.empresas ul li.submenu ul.menuLista{
  background: #fac575;
  position: absolute;
  bottom: -160px;
  float: left;
  z-index: 1;
  width: auto;
  display: none;
}
nav.menu.empresas ul li.submenu ul.menuLista li:hover{
  background: #ff921b;
}
nav.menu ul{
  float: left;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
}
nav.menu ul li{
  list-style: none;
  display: inline;
  position: relative;
  float: left;
  padding: 15px 0 0 0;
}
nav.menu ul li.submenu {
  position: relative;
  padding-bottom: 10px;
}
nav.menu ul li.submenu:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  bottom: 3px;
  left: 45%;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #002e55;
}
nav.menu ul li.submenu:hover:after{
  display: none;
}
nav.menu ul li.submenu ul.menuLista{
  display: block;
  -webkit-box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.21);
  box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.21);
  min-width: 230px;
}
nav.menu ul li.submenu ul.menuLista li{
  display: block;
  clear: both;
  border-bottom: 1px solid #fff;
  float: left;
  width: 100%;
}
nav.menu ul li.submenu ul.menuLista li:first-child{
  border-top:1px solid #fff;
}
nav.menu ul li.submenu ul.menuLista li:last-child{
  border-bottom:none;
}
nav.menu ul li.submenu ul.menuLista li a{
  padding: 0px 7px 9px 7px;
  float: left;
  width: 100%;
  font-weight: 400;
  font-size: 0.8em;
}
nav.menu ul li a{
  text-decoration: none;
  color: #002e55;
  font-weight: 500;
  font-size: 0.9em;
  border-right:1px solid #fcc833;
  padding: 0 15px 0 0;
  margin: 0 0 0 15px;
  height: 15px;
  float: left;
}
nav.menu ul li:last-child a{
  border-right:none;
}
.informativosHome{
  width: 100%;
  float: left;
  background: #f3e0e0;
  min-height: 57px;
}
.informativosHome .titImportante{
  color: #b53b3b;
  float: left;
  text-align: center;
  padding: 20px 55px 0 0;
}
.divSlider{
  float: left;
  width: 750px;
}
.divSlider2{
  float: left;
  width: 723px;
}
#portal-column-content{
  float:left;
  width:710px;
}
#portal-column-two{
  float:left;
  width:350px;
  margin-top: 20px;
}
#portal-column-two.fixo{
  position:fixed;
  margin-left: -30%;
  top:0;
}
div.managePortletsLink{
  background: none !important;
}
#portal-column-two .divSideBarAcesso{
  background: #eeeeee;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px 0 0 32px;
  width:318px;
  float: left;
}
#portal-column-two .divSideBarAcesso h2{
  background:url(../img/icoAcesso.png) no-repeat;
  padding:3px 0 15px 40px;
  font-weight: 500;
  margin: 0 0 0 0;
  font-size:1.1em;
  color: #525252;
}
#portal-column-two .divSideBarAcesso .acessoSistema{
  margin: 0;
  padding: 0;
  border:none;
}
#portal-column-two .divSideBarAcesso .acessoSistema fieldset{
  margin: 0;
  padding: 0;
  border:none;
}
#portal-column-two .divSideBarAcesso .acessoSistema legend{
  display: none;
}
#portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha{
  float:left;
}
#portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li{
  list-style: none;
  float:left;
  color:#002e55;
  font-size: 1em;
}
#portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li.divisaoEsquec{
  font-size:13px;
  padding: 0 4px 0 4px;
  margin: 3px 0 0 0;
}
#portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li a{
  color:#002e55;
  font-size: 0.8em;
}
#portal-column-two .divSideBarAcesso .acessoSistema .inputAcesso{
  background: #fff;
  color: #525252;
  padding: 0 0 0 5px;
  width: 200px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border:none;
  margin:5px 0 0 0;
}
#portal-column-two .divSideBarAcesso .acessoSistema .btnEntrar{
  background: #002e55;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 7px 13px 7px 13px;
  margin: 0 0 0 5px;
  font-size: 0.7em;
  cursor: pointer;
}
#portal-column-two .divSideBarAcesso .btnAcessoCertificado{
  color: #fff;
  text-align: left;
  background:url(../img/icoCadeado.png) no-repeat #002e55 22px 8px;
  width: 231px;
  height: 22px;
  padding: 5px 0 4px 60px;
  font-size: 0.8em;
  margin: 10px 0 10px 0;
  text-decoration: none;
  float: left;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#portal-column-two .divSideBarAcessoBottom{
  background: #e0e0e0;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width:100%;
  float: left;
}
#portal-column-two .divSideBarAcessoBottom p{
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  color: #525252;
}
#portal-column-two .divSideBarAcessoBottom .btnPlay{
  background:url(../img/icoAndroid.png) no-repeat 2px 0px;
  float: left;
  width: 135px;
  height: 52px;
  color: #525252;
  text-decoration: none;
  font-size: 0.8em;
  margin: 12px 0 0 48px;
}
#portal-column-two .divSideBarAcessoBottom .btnPlay span{
  float: left;
  padding: 0 0 0 40px;
}
#portal-column-two .divSideBarAcessoBottom .btnPlay strong{
  clear: both;
  float: left;
  font-size: 1.1em;
  font-weight:normal;
}
#portal-column-two .divSideBarAcessoBottom .btnApp{
  background:url(../img/icoApple.png) no-repeat 2px 0px;
  width: 155px;
  height: 52px;
  float: left;
  color: #525252;
  text-decoration: none;
  font-size: 0.8em;
  margin: 12px 0 0 0px;
}
#portal-column-two .divSideBarAcessoBottom .btnApp span{
  float: left;
  padding: 0 0 0 40px;
}
#portal-column-two .divSideBarAcessoBottom .btnApp strong{
  clear: both;
  float: left;
  font-size: 1.1em;
  font-weight:normal;
}
#portal-column-two .divSideBarPlacar{
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #eeeeee;
  float: left;
  clear: both;
  margin: 20px 0 20px 0;
  padding: 22px 0 0 32px;
  width: calc(100% - 32px);
}
#portal-column-two .divSideBarPlacar h2{
  background:url(../img/icoPlacar.png) no-repeat;
  padding:3px 0 15px 40px;
  font-weight: 500;
  margin: 0 0 0 0;
  font-size:1.1em;
  color: #525252;
}
/* INTERNA NOTICIAS*/
#content #parent-fieldname-title{
  color: #ef7d00;
  font-family: "Bitter", Arial;
  line-height: 1.1em;
  margin: 15px 0 25px 0;
}
#content-core p{
  color:#525252;
  font-family: 'Fira Sans',Arial;
}
#content .documentDescription, #content #description{
  float:left;
  width: 100%;
  margin: 20px 0 20px 0;
  color:#525252;
}
.divDestaquesHome {
  width: 750px;
}
.divDestaquesHome ul.destaquesHome{
  width: 100%;
  float: left;
  margin-left: 0!important;
}
.divDestaquesHome ul.destaquesHome li{
  width: 360px;
  padding: 0 15px 0 0;
  list-style: none;
  float: left;
}
.divDestaquesHome ul.destaquesHome li h2 a{
  color:#ef7d00 !important;
  float: left;
  width: 100%;
  font-family: 'Bitter', Arial;
  font-weight: 600;
  font-size: 1.15em;
  margin: 20px 0 20px 0;
}
.divDestaquesHome ul.destaquesHome li .imgDestaques{
  float: left;
  position: relative;
  z-index: 2;
  margin-top: -15px;
}
.divDestaquesHome ul.destaquesHome li .txtDestaque{
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-top-right-radius: 12px;
  background: #eee;
  float: left;
  margin: 0 0 0 -25px;
  position: relative;
  z-index: 1;
  width: 210px;
  padding: 0 0 0 38px;
  min-height: 110px;
}
.divDestaquesHome ul.destaquesHome li .txtDestaque p a{
  color:#002e55 !important;
  font-size: 1em;
  padding: 12px 10px 8px 8px;
  float: left;
  border-bottom: none !important;
}
.cover-collection-tile .tile-header h2{
  color:#ef7d00;
  float: left;
  width: 100%;
  font-family: 'Bitter', Arial;
  margin: 10px 0 10px 38px;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0;
}
.cover-collection-tile .collection-item time{
  color:#525252;
  font-size: 1em;
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}
.cover-collection-tile{
  float:left;
  margin-bottom: 20px;
  padding:0;
}
.cover-collection-tile .collection-item{
  border:1px solid #eee;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  list-style: none;
  width: 333px;
  float:left;
  margin: 15px 10px 0 0;
  padding: 5px 5px 5px 10px;
}
#content .cover-collection-tile .collection-item h3 a{
  color:#002e55;
  font-weight: 500;
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  font-size: 1.17em;
}
#content .cover-collection-tile .collection-item .btnContinuarLendo{
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  border-bottom-right-radius: 12px;
  background: #eee;
  color:#002e55;
  text-decoration: none;
  float: right;
  padding: 8px 30px 8px 30px;
  font-size: 1em;
  margin: 0 -5px -5px 0;
  position: relative;
}
#content .cover-collection-tile .collection-item .btnContinuarLendo:before{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #eee;
    border-bottom: 0px solid transparent;
}
.cover-collection-tile .collection-item p{
  font-size: 1em;
  color: #525252;
  line-height: 15px;
}
#content .tile-content p .btnVersaoSimp{
  float:left;
  width: 98%;
  padding:8px 0 8px 0;
  font-weight: 500;
  font-size: 1.1em;
  text-align: center;
  color:#002e55 !important;
  background: #eee;
  text-decoration: none;
  margin: 15px 0 15px 0;
}
.bxslider li{
  width: 100%;
  position: relative;
}
.bxslider li .imgSliderHome{
  float:left;
  width: 50%;
  margin: 0 0 0 0;
}
.bxslider li h1{
  width: 100%;
  font-size: 1.9em;
  line-height: 1.2em;
  padding: 0 5% 0 6%;
  margin: 0 0 0 2%;
  font-weight: normal;
}
.bx-wrapper > .bx-viewport > .bx-wrapper > .bx-controls{
  display:none;
}
#content .bxslider li h1 a{
  color:#002e55;
  text-decoration:none;
  border-bottom: none;
}
.bxslider li p{
  font-size: 1.1em;
  color: #525252;
  padding: 20px 5% 0 6%;
  float: left;
  width: 97%;
  margin: 0 0 0 2%;
  min-height: 85px;
}
#content .bxslider li .btnContinuar{
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  border-bottom-right-radius: 12px;
  background: #eeeeee;
  padding: 9px 15px 9px 25px;
  color: #002e55;
  text-decoration: none;
  float: right;
  font-size: 1em;
  width: 105px;
  height: 12px;
  display: table-cell;
  position: relative;
  margin-right: -9px;
  margin-bottom: -1px;
  margin: 34px -9px -1px 0;
}

.bxslider li .btnContinuar:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #eee;
    border-bottom: 0px solid transparent;
}
.bxslider li .contSliderHome{
  border-bottom: 1px solid #eee;
  float: left;
  width: 45%;
  min-height: 282px;
}

#footer{
  float:left;
  clear: both;
  width: 100%;
  background: #dfdfdf;
}
#footer .logoFooter a{
  background:url(../img/logoFooter.png) no-repeat;
  float: left;
  width: 149px;
  height: 59px;
  margin: 28px 0 0 0;
}
#footer .textoFooter{
  float:left;
  width: 315px;
  color: #555555;
  font-size: 0.9em;
  margin: 0 0 0 70px;
  padding: 28px 0 30px 0;
}
#footer .footerBottom{
  float:left;
  clear: both;
  width: 100%;
  background: #d0cfcf;
  height: 54px;
}
#footer .footerBottom p.copyright{
  float: left;
  width: 80%;
  color:#999999;
  margin:20px 0 0 0;
  font-size: 0.8em;
}
#footer .footerBottom p.copyright a{
  text-decoration: underline;
  color: #999;
}
#footer .footerBottom .divProdam{
  float: right;
  width: 210px;
}
#footer .footerBottom .divProdam p{
  color:#999999;
  font-size: 0.7em;
  margin: 15px 0 0 0;
  float: left;
}
#footer .footerBottom .divProdam .logoProdam a{
  background:url(../img/logoProdam.png) no-repeat;
  width: 95px;
  height: 33px;
  margin: 12px 0 0 10px;
  float: left;
}


/*ESTILO PLACAR
*/
body {padding: 0; margin: 0;}
.flip-counter{width: 225px; margin: 5px 0 8px;height: 28px; display: block;}
.flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0}
.flip-counter li{background:url(../js/flipcounter/digit_prodam_mini.png) 0 0 no-repeat; display: block;}
.flip-counter li.t{background-position:0 0;width:17px;height:14px}
.flip-counter li.b{background-position:0 0;width:17px;height:19px}
.flip-counter li.s{background-position:-17px -329px;width:4px;height:31px}
.flip-counter li.p{background-position:-21px -329px;width:5px;height:31px}
#banner_placar span{
  font-family: "Bitter";
  color: #525252;
  font-size: 0.8em;
}


/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  /*max-width: 100%;*/
  display: block;
  float: left;
  width: 100%
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
  left: -5px;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 18px;
  background: url(../img/btnSliderRight.png) no-repeat center;
}

.bx-wrapper .bx-next {
  right: 11px;
  background: url(../img/btnSliderLeft.png) no-repeat center;
}


.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 20%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.bx-wrapper .bx-pager {
  font-size: 12px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  width: 22px;
  height: 21px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-indent: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #f5f5f5;
  text-decoration: none;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: rgb(255, 173, 198);
}

.divSlider .bx-wrapper .bx-pager.bx-default-pager a{
  text-indent: -9999px;
  float: left;
}
.divSlider .bx-wrapper .bx-controls .bx-pager{
  border-bottom:1px solid #eee;
  padding: 8px 0 17px 0;
  margin:12px 0 35px 0;
  width: 96%;
}
.divSlider .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #ef7d00;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.divSlider .bx-wrapper .bx-pager.bx-default-pager a{
  background: #345877;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width:16px;
  height: 16px;
  border-bottom: none;
}
.divSlider .bx-wrapper .bx-pager{
  position: relative;
  bottom: 0;
}
.divSlider2 .bx-wrapper .imgSlider2{
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: -5px 0 0 -20px;
}
.divSlider2 .bx-wrapper li{
  background: #eee;
}
.divSlider2 .bx-wrapper li .sliderNumber{
  background: #ef7d00;
  font-family: "Bitter";
  color:#fff;
  padding: 5px 10px 5px 10px;
  font-size: 1.3em;
  margin: 30px 0 0 30px;
  float: left;
}
.divSlider2 .bx-wrapper li .txtSlider2{
  float: left;
  padding: 0 0 0 30px;
  width: 600px;
  margin: 30px 0 0 0;
  min-height: 170px;
}
.divSlider2 .bx-wrapper li .txtSlider2 h3{
  color: #ef7d00;
  font-size: 1.4em;
  margin: 0;
}
.divSlider2 .bx-wrapper li .txtSlider2 p{
    color: #525252;
    font-size: 1em;
    padding: 10px 0 0 0;
}
.divSlider2 .bx-wrapper li .txtSlider2 p a{
  color: #002e55;
}
.divSlider2 .bx-wrapper .bx-pager{
  background: #002e55;
  float: left;
  position: relative;
  bottom: 0;
  margin: 0 0 0 -5px;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0 0 15px 13%;
  width: 87%;
}
.divSlider2 .bx-wrapper .bx-pager .bx-pager-item{
  float: left;
}
.divSlider2 .bx-wrapper .bx-pager.bx-default-pager a{
  background: #345877;
  border: none;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.3em;
  padding: 4px;
}
.bx-controls-direction{
  display: none;
}
#content .divSlider2 .bx-wrapper .bx-pager.bx-default-pager a.active{
  color:#ef7d00;
  background: #fff;
}
.acessoMobile{
  display:none;
}
.divAccordeon{
  float:left;
  clear: both;
  width: 100%;
  margin: 20px 0 20px 0;
}
.divAccordeon h3{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color:#002e55;
  padding: 8px 0 5px 4%;
  float: left;
  width: 96%;
  font-size: 0.9em;
  cursor: pointer;
  margin: 8px 0 0 0;
  background: url(../img/icoAcc-off.png)  5px 8px no-repeat #eee;
}
.divAccordeon h3.active{
  background: url(../img/icoAcc-on.png)  5px 8px no-repeat #eee;
}
.divAccordeon .textoAccordeon{
  float: left;
  clear: both;
 -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #eee;
  margin: 5px 0 0 0;
  width: 100%;
}
.divAccordeon .textoAccordeon p{
  padding: 10px;
  float: left;
  color: #525252;
  font-size: 0.9em;
}
.divAccordeon .textoAccordeon ul{
  padding: 10px;
  float: left;
  list-style: disc;
  margin: 8px 0 0 15px;
}
.divAccordeon .textoAccordeon ul li{
  display: block;
  float: left;
  clear: both;
  padding: 0 0 15px 0;
  color: #525252;
  font-size: 0.9em;
  display: list-item;
  list-style-type: disc;
}
/* ==========================================================================
   Adaptações responsivas
   ========================================================================== */

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #portal-column-content{
    width: 100%;
  }
  #portal-column-two{
    clear: both;
    margin-left: -100.875% !important;
  }
  .divDestaquesHome{
    width: 100%;
  }
  #portal-column-two{
  width: calc(100% - 32px);
  }
  .bxslider li .contSliderHome{
    clear: both;
  }
  .placarMobile{
    display:none;
  }
  .acessoMobile{
    display:block;
    clear: both;
    float: left;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 100%;
    background: #e0e0e0;
    height: 28px;
    padding: 10px 0 0 0;
  }
  .btnVersaoSimp{
    display:none;
  }
  .divSideBarAcesso, .divSideBarAcessoBottom{
    display:none;
  }
  .acessoMobile .btnAcessomobile{
    background:url(../img/icoAcesso.png) no-repeat 15px 5px;
    padding: 12px 0 8px 55px;
    color: #525252;
    text-decoration: none;
  }
  #portal-header .divBusca{
    float:left;
    margin: 18px 0 0 5px;
  }
  #portal-header .divBusca input{
    float:left;
    background: #345877;
    width: 126px;
    color: #fff;
  }
  #portal-header .divBusca input::-webkit-input-placeholder {
     color: #fff;
  }

  #portal-header .divBusca input:-moz-placeholder {
     color: #fff;
  }

  #portal-header .divBusca input::-moz-placeholder {
     color: #fff;
  }

  #portal-header .divBusca input:-ms-input-placeholder {
     color: #fff;
  }
  #portal-header .divBusca .searchButton{
    background:url(../img/icoBusca.png) no-repeat 5px 5px #345877;
    text-indent: -9999px;
    width: 30px;
    float: left;
  }
  #portal-header #logo h1 a{
    margin:15px 0 0 5px;
    background-size: 88px;
  }
  .acessibilidade{
    display: none;
  }
  .logoFinancas{
    display: none;
  }
  #portal-header .btnReclamacoes{
    position: absolute;
    top: 66px;
    left: 147px;
    width: 128px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    text-transform: lowercase;
    height: 24px;
  }
  #portal-header .LSBox{
    float:left;
    margin: -10px 0 0 0;
  }
  #portal-header .btnReclamacoes::first-letter{
    text-transform: uppercase;
  }
  #portal-header .menuResp{
    background:url(../img/menuResp.png) no-repeat 0 0;
    float: left;
    width: 29px;
    height: 50px;
    margin: 46px 5px 0 5px;
    display: block;
    text-indent: -9999px;
  }
  #portal-header .divSection{
    width: 100%;
    margin: 8px 0 6px 0;
    padding: 0;
  }
  .divMenu, .menuSite{
    display: none;
  }
  nav.menu.cidadao ul li.submenu:after, nav.menu.empresas ul li.submenu:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    left: 95%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #002e55;
    float: left;
  }
  nav.menu ul li.submenu.active:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    left: 95%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:none;
    float: left;
    border-bottom: 5px solid #002e55;
  }
  nav.menu.cidadao{
    background: #fcc833;
  }
  nav.menu.cidadao ul li.submenu ul.menuLista, nav.menu.empresas ul li.submenu ul.menuLista{
    width: 100%;
    position: relative;
    bottom:0;
    margin: 13px 0 0 0;

  }
  nav.menu ul li{
    width:100%;
  }
  nav.menu.cidadao ul li.submenu:hover, nav.menu.empresas ul li.submenu:hover{
    background: none ;
  }
  nav.menu ul li{
    display: block;
    clear: both;
  }
  nav.menu ul li.submenu.active{
    padding-bottom: 0;
  }
  .divSlider{
    float: left;
    clear: both;
    width: 100%;
  }
  .divSlider2{
    float: left;
    clear: both;
    width: 100%;
  }
  .bx-wrapper{
    width: 100%;
    float: left;
  }
  .divDestaquesHome ul.destaquesHome li{
    clear: both;
  }
  .divNoticiasHome .destaquesHome li{
    clear: both;
  }
  #main{
    float: none;
  }
  #content{
    float:none;
  }
  .divNoticiasHome .destaquesHome li{
    width: 90%;
    margin-left: 3%;
  }
  .divDestaquesHome ul.destaquesHome li .txtDestaque{
    width: 56%;
  }
  .divDestaquesHome ul.destaquesHome li{
    text-align: center;
    width: auto;
  }
  .bxslider li .contSliderHome{
    width:85%;
  }
  .divSlider2 .bx-wrapper li .txtSlider2{
    width: 90%;
  }
  .bxslider li .imgSliderHome{
    width:95%;
  }
  .bx-controls-direction{
    display: block;
  }
  #footer .logoFooter a{
    width: 100%;
    margin: 14px 0 0 0;
    text-align: center;
    background: url(../img/logoFooter.png) no-repeat center;
  }
  .copyright{
    display: none;
  }
  #footer .footerBottom .divProdam{
    float: none;
    margin: 0 auto;
  }
  #footer .textoFooter{
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
  }
  #portal-column-two .divSideBarPlacar{
    margin-left: 5%;
  }
  .bxslider li .btnContinuar{
    margin:-2px -9px -1px 0;
  }
  .bxslider li h1{
    margin:10px 0 0 2%;
  }
  .bx-wrapper .bx-viewport{
    height: auto !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrap{
    width:100%;
  }
}

/*CONTRASTE*/
body.contraste1, body.contraste1 #footer, body.contraste1 #footer .footerBottom, body.contraste1 .btnVersaoSimp, body.contraste1 #footer .textoFooter{
  background: #000 !important;
  color: #fff !important;
}
body.contraste1 .acessibilidade{
  background: #000;
  color: #fff;
}
body.contraste1 .acessibilidade ul li a{
  color: #fff;
}
body.contraste1 .acessibilidade ul li a.icoContraste{
  background: url(../img/icoContraste2.png) no-repeat 0 3px
}
body.contraste1 header{
  background: #000;
}
body.contraste1 #portal-searchbox .searchButton{
  background: #000;
  border: 1px solid #fff;
  color: #fff;
}
body.contraste1 .bxslider li h1 a{
  color:#fff;
}
body.contraste1 .bxslider li p{
  color:#fff;
}
body.contraste1 .divSlider .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #999;
}
body.contraste1 .divSlider2 .bx-wrapper .bx-pager.bx-default-pager a.active{
  color: #999;
}
body.contraste1 .divSlider .bx-wrapper .bx-pager.bx-default-pager a{
  background: #fff;
}
body.contraste1 .informativosHome{
  background: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff;
}
body.contraste1 .informativosHome .titImportante{
  color: #fff;
}
body.contraste1 nav.menu.cidadao{
  background: #000;
  border-top: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #fff;
}
body.contraste1 nav.menu ul li a{
  color:#fff;
}
body.contraste1 body.contraste1 nav.menu ul li{
  color: #fff;
}
body.contraste1 nav.menu ul li a{
  border-right:1px solid #fff;
}
body.contraste1 #portal-header .btnReclamacoes{
  background:url(../img/icoReclamacoes.png) no-repeat #000 8px 5px;
}
body.contraste1 nav.menu ul li.submenu:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: -8px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
body.contraste1 #portal-header ul.globalnav li{
  border:1px solid #fff;
  border-bottom:none;
  color: #fff;
  background: none;
}
body.contraste1 #portal-header ul.globalnav li a{
  color: #fff;
}
body.contraste1 #portal-column-two .divSideBarPlacar{
  border: 1px solid #fff;
  background: #000;
}
body.contraste1 #portal-column-two .divSideBarAcessoBottom{
  border: 1px solid #fff;
  background: #000;
}
body.contraste1 #portal-column-two .divSideBarAcesso{
  border: 1px solid #fff;
  background: #000;
  border-bottom:none;
}
body.contraste1 #portal-column-two .divSideBarAcessoBottom p, body.contraste1 .divSlider2 .bx-wrapper li .txtSlider2 p, body.contraste1 .divSlider2 .bx-wrapper li .txtSlider2 h3, body.contraste1 .divSlider2 .bx-wrapper li .txtSlider2 p a{
  color:#fff;
}
body.contraste1 #portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li a. body.contraste1 .divNoticiasHome h2{
  color:#fff;
}
body.contraste1 #portal-column-two .divSideBarAcessoBottom .btnPlay span,body.contraste1  #portal-column-two .divSideBarAcessoBottom .btnApp,body.contraste1  #portal-column-two .divSideBarAcesso h2, body.contraste1 #portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li, body.contraste1 #portal-column-two .divSideBarPlacar h2, body.contraste1 #banner_placar span{
  color:#fff;
}
body.contraste1 #portal-column-two .divSideBarAcesso .acessoSistema .btnEntrar{
  background: #000;
  border: 1px solid #fff;
}
body.contraste1 #portal-column-two .divSideBarAcesso .btnAcessoCertificado{
  background:url(../img/icoCadeado.png) no-repeat 22px 8px;
  border: 1px solid #fff;
}
body.contraste1 .divDestaquesHome ul.destaquesHome li .txtDestaque,body.contraste1  .divSlider2 .bx-wrapper .bx-pager{
  background: none;
  border: 1px solid #fff;
}
body.contraste1 .divSlider2 .bx-wrapper li .sliderNumber, body.contraste1 .divSlider2 .bx-wrapper .bx-pager.bx-default-pager a{
  background: none;
  border: 1px solid #fff;
}
body.contraste1 .divSlider2 .bx-wrapper li{
  background: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
body.contraste1 .flip-counter li{
  background:url(../js/flipcounter/digit_prodam_mini2.png) 0 0 no-repeat;
}
body.contraste1 #portal-column-two .divSideBarAcesso .acessoSistema .esqueciSenha li a, body.contraste1 .divNoticiasHome .destaquesHome li h3, body.contraste1 .divNoticiasHome .destaquesHome li p, body.contraste1 .divNoticiasHome .destaquesHome span.data{
  color:#fff;
}
body.contraste1 #portal-header .logoFinancas a{
  background: url(../img/logoFinancas2.png) no-repeat;
}
body.contraste1 #footer .logoFooter a{
  background: url(../img/logoFooter2.png) no-repeat;
}
